<br>
<div class="panel panel-success" style="opacity:0.9;">
  <!-- Default panel contents -->
  <div class="panel-heading"><h4 class="box-title"><b>FILED CASES</b></h4></div>
  <div class="panel-body">

    <div class="row ">
        <div class="col-xs-12" >
            <div class="box box-success">


                <!-- /.box-header -->
                <div class="box-body table-responsive ">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Person NIC</th>
                          <th>Vehical Number</th>
                          <th>Alcohol Level</th>
                          <th>Location</th>
                        </tr>
                      </thead>
                      <tbody>
                        {{# each cases}}
                          {{# each this}}
                            <tr>


                                <td>{{ this.person_nic}}</td>
                                <td>{{ this.vehicle_num}}</td>
                                <td>
                                  <div class="progress" style="height:16px; width:200px;">
                                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"  aria-valuemin="0" aria-valuemax="100" style="width:{{ this.alco_level }}%">
                                      {{ this.alco_level }}%<span class="sr-only">{{ this.alco_level }}% Complete (success)</span>
                                    </div>
                                  </div>


                                </td>
                                <td>{{ this.location.place }}</td>


                            </tr>
                          {{/each}}
                        {{/each}}
                      </tbody>
                    </table>

                    <div class="box-footer clearfix">

                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>

  </div>



</div>
